/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  @apply font-sans;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.curve-bottom {
  border-bottom-left-radius: 60px; /* Adjust as needed */
  border-bottom-right-radius: 60px; /* Adjust as needed */
}
.shadow-numbers {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust the values to get the desired shadow effect */
}

.custom-underline {
  position: relative;
  display: inline-block;
}

.custom-underline::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px; /* Adjust the value to control the space between the text and the underline */
  height: 1px; /* Adjust the value to control the thickness of the underline */
  background-color: currentColor; /* Use the current text color for the underline */
}

@keyframes smoothScale {
  0% {
    transform: scale(1);
    color: #078954;
  }
  50% {
    transform: scale(1.4);
    color: #05b045;
  }
  
  100% {
    transform: scale(1);
    color: #078954;
  }
}

.animation-smoothScale {
  animation: smoothScale 1s ease-in-out infinite;
}

.content {
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  overflow: hidden;
}

.slide-section {
  max-height: 0;
  opacity: 0;
}

.content > .slide-section {
  max-height: 500px; /* Adjust based on your content height */
  opacity: 1;
}

.content > .slide-section {
  max-height: 500px; /* Adjust based on your content height */
  opacity: 1;
}


@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(50%);
    opacity: 0;
  }
}

.animate-slide-up {
  animation: slide-up 0.5s forwards;
}

.animate-slide-down {
  animation: slide-down 0.5s forwards;
}

/* 
body {
  @apply font-sans;
} */


/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}